{{ define "footer" }}

<footer>
    <div class="faq">
        <p class="faq_content">© Nymph Inc., 2021 г. Все права защищены.</p>
        <p class="faq_content">Лен. обл., пос. Тельмана, д. 12</p>
        <p class="faq_content">8 921 599 46 64</p>
        <a class="faq_content" href="#"><p>Политика конфиденциальности</p></a>
    </div>
</footer>
<script src="/assets/lib/jquery-3.6.0.min.js"></script>
<script src="/assets/lib/slick.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/sidebar.js"></script>
<script src="/assets/js/regFormProcessing.js"></script>
</div>
</body>
</html>
{{ end }}

