{{ define "indexBody.html" }}
<div class="slider">
    <div class="slide">
        <a href="#">
            <img class="slide_img" src="/assets/img/wly_theme.jpg" alt="">
            <h2 class="slide_heading" >Theme of the Week:</h2>
        </a>
    </div>
    <div class="slide">
        <a href="#">
            <img class="slide_img" src="/assets/img/image%201.jpg" alt="">
            <h2 class="slide_heading">Theme of the Month:</h2>
        </a>
    </div>
    <div class="slide">
        <a href="https://vk.com/grmnvvv">
            <img class="slide_img" src="/assets/img/egor.jpg" alt="">
            <h2 class="slide_heading">Author of the Month:</h2>
        </a>
    </div>
</div>


<div class="a">
    <div class="object">
        <h2>Full customization</h2>
        <p>of your pc and phone decoration, including wallpapers, themes, icons, cursors, and etc.</p>
    </div>
    <img src="/assets/img/image%201.jpg"  alt="" class="info_img">
</div>
<div class="b">
    <img src="/assets/img/image%202.jpg" alt="" class="info_img">
    <div class="object">
        <h2>Synchronization</h2>
        <p>between all your devices. All the devices you have logged in will synchronize active theme on them.</p>
    </div>
</div>
<div class="c">
    <div class="object">
        <h2>Full access to over 20000 themes library.</h2>
        <p> Paying just 10$ per month gives access to one of the biggest design libraries.</p>
    </div>
    <img src="/assets/img/image%203.jpg" alt="" class="info_img">
</div>

<div class="ad">
    <a href="#">
        <img src="/assets/img/ad.jpg" alt="">
        <button onclick="openModal('#regModalWindow')" href="#" type="button" id="become_creator_btn" class="btn btn-secondary btn-lg">
            Become a creator
        </button>
    </a>
</div>
{{ end }}