{{ define "indexBody" }}
<div class="slider">
    <div class="slide">
        <a href="/theme/35">
            <img class="slide_img" src="/user_files/meowt/theme_35/wallpaper.jpg" alt="Авторизуйтесь для просмотра">
            <h2 class="slide_heading" >Тема Недели:</h2>
        </a>
    </div>
    <div class="slide">
        <a href="/theme/36">
            <img class="slide_img" src="/user_files/meowt/theme_36/wallpaper.jpg" alt="">
            <h2 class="slide_heading">Тема Месяца:</h2>
        </a>
    </div>
    <div class="slide">
        <a href="/user/meowt">
            <img class="slide_img" src="/user_files/meowt/avatar.jpg" alt="">
            <h2 class="slide_heading">Автор Месяца:</h2>
        </a>
    </div>
</div>

<div class="whats">
    <div class="object">
        <h2>Что такое <o>NYMPH?</o></h2>
        <p><o>NYMPH</o> это сервис для <br>простой и удобной персонализации устройств.</p>
    </div>
    <img src="/assets/img/image%201.jpg" alt="" class="info_img">
</div>

<div class="ad">
    <a href="#" onclick="openModal('#regModalWindow')">
        <img src="/assets/img/Figma_CyRF6KI1nL.png" alt="">
        <button onclick="openModal('#regModalWindow')" href="#" type="button" id="become_creator_btn" class="btn btn-secondary btn-lg">
            Зарегистрироваться
        </button>
    </a>
</div>
{{ end }}