{{ define "indexBody" }}
<div class="slider">
    <div class="slide">
        <a href="#">
            <img class="slide_img" src="/assets/img/wly_theme.jpg" alt="">
            <h2 class="slide_heading" >Тема Недели:</h2>
        </a>
    </div>
    <div class="slide">
        <a href="#">
            <img class="slide_img" src="/assets/img/JFqDydzVWD.jpg" alt="">
            <h2 class="slide_heading">Тема Месяца:</h2>
        </a>
    </div>
    <div class="slide">
        <a href="https://vk.com/grmnvvv">
            <img class="slide_img" src="/assets/img/egor.jpg" alt="">
            <h2 class="slide_heading">Автор Месяца:</h2>
        </a>
    </div>
</div>


<div class="object">
    <h2>Что такое NYMPH?</h2>
    <p>NYMPH это сервис для простой и удобной персонализации устройств.</p>
</div>
<img src="/assets/img/image%201.jpg" alt="" class="info_img">

<div class="ad">
    <a href="#" onclick="openModal('#regModalWindow')">
        <img src="/assets/img/Figma_CyRF6KI1nL.png" alt="">
        <button onclick="openModal('#regModalWindow')" href="#" type="button" id="become_creator_btn" class="btn btn-secondary btn-lg">
            Зарегистрироваться
        </button>
    </a>
</div>
{{ end }}