{{ define "trueHeader" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/lib/slick.css" rel="stylesheet">
    <link href="/assets/lib/slick-theme.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/sidebar.css" rel="stylesheet">
    <link href="/assets/css/header.css" rel="stylesheet">
    <title> {{ .Username }}</title>
</head>
</head>
<body>

<header class="header">
    <input type="checkbox" id="sidebar">
    <label for="sidebar">
        <a id="burger"><img src="/assets/img/burger.svg" title="Menu"></a>
    </label>
    <a href="http://127.0.0.1:9090/" id="main_link"><img id="logo" src="/assets/img/logo.png" alt=""></a>
    <input type="checkbox" id="profbar">
    <ul class="nav_links">
        <li><label for="profbar">
            <a id="username">{{ .Username }}</a>
        </label></li>
    </ul>
</header>
<nav>
    <div class="navbar">
        <ul>
            <li><a href="/catalogue"><img src="/assets/img/catalogue.svg" title="Menu">Каталог</a></li>
        </ul>
    </div>
</nav>

<div class="profbar">
    <ul>
        <li><a href="/user/{{ .Username }}">Мой профиль</a></li>
        <li><a href="/edit">Редактировать</a></li>
        <li><a href="/upload">Загрузить тему</a></li>
        <li><a href="/exit">Выйти</a></li>
    </ul>
</div>

{{ end }}